
body {
  background: linear-gradient(#0d1b2a, #b8860b);
  color: #ffd700;
  font-family: "P22 Declaration", serif; /* Or another patriotic font */
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "American Scribe", serif; /* Giving headings that classic style */
  color: #b8860b;
}

button {
  background-color: #ffd700;
  color: #0d1b2a;
  border: 2px solid #b8860b;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #b8860b;
  color: #ffd700;
}

.menu, 
.social {
  display: flex;
  justify-content: center;
  list-style: none;
}


.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 3px;
  grid-area: logo;
}

.social .icon {
  height: 1rem;
}